.inner-panel {
    background-color: var(--background-800);
    border-style: solid;
    border-color: var(--background-700);
    border-radius: 8px;
    border-width: 3px;
    padding: 8px;
}

label {
    font-size: var(--font-size);
    color: var(--text);
}

.input-device {
    font-family: var(--font-family);
    font-size: var(--font-size);
    background-color: var(--accent-50);
    color: var(--input-text);
    border-radius: 4px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;

    min-height: 36px;
    min-width: 80px;
}

.button-1 {
    align-items: center;
    appearance: none;
    border-width: 0;
    box-sizing: border-box;
    cursor: pointer;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    text-align: center;
    transition: transform 0.15s;
}

.button-1:hover {
    transform: translateY(-2px);
}

.button-1:active {
    transform: translateY(2px);
}

.select-1 {
    align-items: center;
    border-width: 0;
    box-sizing: border-box;
    cursor: pointer;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 4px;
    text-align: left;
    transition: transform 0.15s;
}

.select-1:hover {
    transform: translateY(-2px);
}

.input-box-1 {
    font-size: 0.95rem;
    appearance: none;
    border-width: 0;
    box-sizing: border-box;
    cursor: text;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    transition: transform 0.15s;
    padding-left: 8px;
    min-width: 0;

    flex: 1;
}

.input-box-1:hover {
    transform: translateY(-2px);
}

.input-box-1::placeholder {
    color: var(--placeholder);
    opacity: 1;
}

.input-box-1::-ms-input-placeholder {
    color: var(--placeholder);
}

.output-area {
    font-size: 0.95rem;
    padding: 8px;
    margin: 0;
    word-break: break-word;
    white-space: normal;
    user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text;
    overflow: auto;

    /* flex-basis (100px) carrying here (makes p actually overflow, not the panel) */
    flex: 1 1 100px;
}

.chip-1 {
    color: var(--text);
    display: flex;
    gap: 8px;
    background-color: var(--background-700);
    text-wrap: nowrap;
    text-align: center;
    width: fit-content;
    padding: 8px;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--background-600);
}

.chip-1 button {
    color: var(--text);
    font-family: var(--font-family);
    font-weight: bold;
    background: var(--background-600);
    border: solid;
    border-width: 2px;
    border-color: var(--background-700);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 10px;
    cursor: pointer;
    padding: 2px;
    margin: 0;
}

.required {
    color: var(--required);
}
