/* cSpell:disable */

@font-face {
    font-family: "JetBrains Mono";
    src: url("../fonts/jetbrainsmono-regular-webfont.eot");
    src: url("../fonts/jetbrainsmono-regular-webfont.eot?#iefix") format("embedded-opentype"),
        url("../fonts/jetbrainsmono-regular-webfont.woff2") format("woff2"),
        url("../fonts/jetbrainsmono-regular-webfont.woff") format("woff"),
        url("../fonts/jetbrainsmono-regular-webfont.ttf") format("truetype"),
        url("../fonts/jetbrainsmono-regular-webfont.svg#jetbrains_monoregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* cSpell:enable */

:root {
    --font-family: JetBrains Mono, SF Mono, Consolas, monospace;
    --text: #e5f7f9;
    --background: #1b1d1f;
    --light-background: #323333;
    --primary: #97dfe3;
    --secondary: cadetblue;
    --accent: #fcfcfd;
    --pri-border-color: #aaf8fc;
    --sec-border-color: #73bcbe;
    --bg-border-color: #464a4e;
    --acc-border-color: #e7e7e7;
    --bg-text: #595f66;
    --box-shadow: rgba(45, 35, 66, 0.4);

    --github: url(../images/github-mark-white.svg);
    --twitter: url(../images/twitter-logo-white.svg);
}

@media (prefers-color-scheme: light) {
    :root {
        --text: #061719;
        --background: #e1e3e5;
        --light-background: #f4f4f5;
        --primary: #1c6569;
        --secondary: #609d9f;
        --accent: #35353a;
        --pri-border-color: #237e83;
        --sec-border-color: #6eb3b6;
        --bg-border-color: #cecfcf;
        --acc-border-color: #4e4e55;
        --bg-text: #868788;

        --github: url(../images/github-mark.svg);
        --twitter: url(../images/twitter-logo.svg);
    }
}

body {
    display: flex;
    flex-direction: column;
    background: var(--background);
    font-family: var(--font-family);
    margin: 0 auto;
    padding: 0 2%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: var(--text);
    margin: 0;
    padding: 0;
    font-size: clamp(3.5rem, 8vw, 4rem);
    background-image: linear-gradient(300deg, var(--primary), var(--secondary));
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.creator-name {
    color: var(--text);
    background-image: linear-gradient(60deg, var(--primary), var(--secondary));
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

header {
    color: var(--text);
    font-size: clamp(0.8rem, 4vw, 1rem);
    height: 30px;
    margin-bottom: 16px;
}

.title {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.title h6 {
    font-size: clamp(0.75rem, 0.5vw, 1rem);
    color: var(--bg-text);
    text-align: center;
    position: relative;
    bottom: 4px;
    margin: 0;
    padding: 0;
}

.logo {
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 0 0 8px;
    width: 32px;
    height: 32px;
    transition: transform 0.15s;
}

.logo:hover {
    transform: translateY(-2px);
}

.gh-logo {
    background-image: var(--github);
}

.twitter-logo {
    background-image: var(--twitter);
}

header a {
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
    text-decoration-color: var(--secondary);
}

main {
    background-color: var(--secondary);
    border-style: solid;
    border-color: var(--pri-border-color);
    border-radius: 20px;
    border-width: 3px;
    box-sizing: border-box;
    min-width: fit-content;
    width: 100%;
    max-width: 900px;
    height: auto;
    padding: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 4px 4px 4px var(--box-shadow);
    gap: 8px;
}

section {
    display: flex;
    flex-direction: column;
    flex: 1 1 100px;
    gap: 8px;
    min-width: 320px;

    /* \/ why this fixes more paragraph issues, idk man */
    max-width: 100%;
    width: min-content;
}

.media-panel {
    display: flex;
    align-items: center;
    text-wrap: nowrap;
    justify-content: space-between;
    min-height: fit-content;
    gap: 8px;
}

.info-panel {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 8px;
}

.next-to {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 8px;
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid-input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;
    align-items: center;
    gap: 0px 8px;
}

.chip-input {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 8px;
    min-height: 40px;
    height: fit-content;
}

footer {
    margin: 20px 0 0 0;
    max-width: 400px;
    text-align: center;
}

footer h6 {
    color: var(--bg-text);
    font-size: clamp(0.75rem, 0.5vw, 1rem);
    margin: 0 0 8px 0;
    padding: 0;
    padding: 0;
}

footer h6 a {
    color: var(--secondary);
    text-decoration: none;
    text-decoration-color: var(--text);
}

footer h6 a:hover {
    color: var(--primary);
    text-decoration: underline;
}
