@font-face {
    font-family: "JetBrains Mono";
    src: url("../fonts/jetbrainsmono-regular-webfont.eot");
    src: url("../fonts/jetbrainsmono-regular-webfont.eot?#iefix") format("embedded-opentype"),
        url("../fonts/jetbrainsmono-regular-webfont.woff2") format("woff2"),
        url("../fonts/jetbrainsmono-regular-webfont.woff") format("woff"),
        url("../fonts/jetbrainsmono-regular-webfont.ttf") format("truetype"),
        url("../fonts/jetbrainsmono-regular-webfont.svg#jetbrains_monoregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

:root {
    --font-family: JetBrains Mono, SF Mono, Consolas, monospace;
    --text: #e5f7f9;
    --background: #1b1d1f;
    --light-background: #323333;
    --primary: #97dfe3;
    --secondary: cadetblue;
    --accent: #fcfcfd;
    --pri-border-color: #8fdbdf;
    --sec-border-color: #72a0a1;
    --bg-border-color: #464a4e;
    --acc-border-color: #e7e7e7;
}

body {
    display: flex;
    flex-direction: column;
    background: var(--background);
    font-family: var(--font-family);
    font-size: 20px;
    color: white;
    margin: 0;
    margin-top: 2%;
    padding: 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: var(--text);
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
    font-size: 70px;
    background-image: linear-gradient(300deg, var(--primary), var(--secondary));
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

main {
    color: var(--text);
    background-color: var(--secondary);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: auto;
    width: 50%;
    max-width: 1000px;
    border-radius: 20px;
    border-color: var(--pri-border-color);
    border-style: solid;
    box-shadow: 4px 4px 4px rgba(26, 26, 26, 0.6);
    padding: 12px;
    overflow: hidden;
}

p {
    padding: 0;
    margin: 0;
}

.panel {
    float: left;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: left;
}

.left-panel {
    margin-right: 8px;
    flex: 1 1 100px;
}

.right-panel {
    flex: 3 2 100px;
}

.inner-panel {
    background-color: var(--light-background);
    padding: 8px;
    border-radius: 10px;
    border-color: var(--bg-border-color);
    box-shadow: 4px 5px 5px rgba(45, 35, 66, 0.4);
    border-style: solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info-panel {
    color: var(--text);
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-grow: 1;
}

.inner-panel label {
    margin-bottom: 12px;
}

.media-panel {
    margin-bottom: 8px;
}

.media-panel label {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
}

.media-panel select {
    width: 40%;
    margin: 0;
}

.container-a {
    display: flex;
    flex-direction: row;
}

.container-a button {
    width: 110px;
}

.add-button {
    margin-right: 12px;
}

.container-a input {
    flex-grow: 1;
    margin-right: 12px;
    height: 30px;
}

.container-b {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-grow: 1;
}

.container-b div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.container-b-input {
    margin-right: 12px;
}

.top-panel {
    margin: 0;
    margin-bottom: 8px;
    max-height: 280px;
}

.bottom-panel {
    max-height: 50%;
    max-height: 280px;
}

.copy-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.copy-panel button {
    width: 40%;
}
